/* Google Fonts Links */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");
/* Reset Styles And Google Fonts Links */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Common Styles */
:root {
  --btn-color: #e02c6d;
  --whit-color: #ffffff;
  --primary-color: #3a3a3a;
  --secondary-color: #787885;
  --cardtitle-color: #18191f;
  --cardsubtitle-color: #5e6366;
  --fontawesome-color: #fb8200;
  --feturedtitle-color: #0a0826;
  --footerbg-color: #0a0826;
}
.max-width {
  max-width: 1200px;
  margin: 40px auto;
}
.btn {
  background-color: var(--btn-color);
  color: var(--whit-color);
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  margin-top: 25px;
  font-weight: 700;
}
.title {
  color: var(--primary-color);
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
/* Navbar Styles Starts */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 700;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 34px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
}
nav ul li a:hover {
  color: #e02c6d;
}

/* Navbar Styles Ends */

/* Banner Styles Starts */
.banner {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  /* align-items: center; */
}
.banner-text {
  width: 50%;
  margin-top: 100px;
}
.banner-title {
  color: var(--primary-color);
  font-size: 50px;
  font-weight: 700;
}
.banner-description {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}
.banner-img {
  position: relative;
  width: 50%;
  display: block;
  text-align: center;
}
.banner-img img {
  width: 400px;
  position: relative;
}
.site {
  position: absolute;
  width: 100px;
  left: -3px;
  top: -400px;
}
/*  */
/* Banner Styles Ends */
/* Sponser Styles Starts */

.sponser-title {
  margin-bottom: 30px;
}
.sponsor-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 20px;
}
/* Sponser Styles Ends */
/* Popular Collection Starts */
.popular-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.popular-card {
  border-radius: 5px;
  background: var(--whit-color);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 15px;
}
.popular-card img {
  width: 100%;
}
.popular-card-title {
  color: var(--cardtitle-color);
  font-size: 28px;
  font-weight: 500;
  margin: 6px 0 10px 0;
}
.popular-card-subtitle {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 8px;
}
.popular-card-description {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 500;
}
.star {
  display: flex;
  gap: 10px;
}
.fa-star,
.fa-star-half-stroke {
  color: var(--fontawesome-color);
}
/* Popular Collection Ends */
/* Feature Styles Starts */
.feature-container {
  display: flex;
  align-items: center;
  margin-top: 100px;
}
.feature-img {
  width: 50%;
  display: block;
  text-align: center;
}
.feature-text {
  width: 50%;
}
.feature-title {
  color: #0a0826;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 700;
}
.feature-description {
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 500;
}
/* Feature Styles Ends */
/* Footer Styes */
footer {
  background-color: #0a0826;
  padding: 50px 0;
  color: var(--whit-color);
  text-align: center;
}
.footer-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.copy {
  color: #d9dbe1;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}
.footer-description {
  color: #d9dbe1;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 400;
}
footer span {
  margin-left: 10px;
  font-size: 20px;
}
/* Responsive Styles */
/* Mobile Device */
@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
  }
  .nav-title {
    margin-bottom: 20px;
  }
  nav ul {
    flex-direction: column;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-text {
    width: 100%;
    padding: 0 15px;
  }
  .banner-title {
    font-size: 40px;
  }
  .banner-img {
    margin-top: 20px;
    width: 100%;
  }
  .popular-container {
    grid-template-columns: 1fr;
  }
  .feature-container {
    flex-direction: column-reverse;
  }
  .feature-img {
    width: 100%;
  }
  .feature-text {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
  }
}
